body {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  font-family: "Open Sans", sans-serif;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  min-width: 40px;
  padding: 5px;
  margin:8px;
  font-size: 16px;
}

button {
  font-size: 16px;
  padding: 5px;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

.black {
  color: black;
}

#balance {
  color: black;
}

.hint {
  color: #666;
}

#status {
  border-width: 2px;
  border-color: #ffcc00;
  background-color: #fff8de;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  text-align: center;
  visibility: hidden;  
}

.voteButton {
  margin: 0;
  padding: 16px;
  background: gray;
  border-radius: 8px;
  min-width: 150px;
  border: 0;
  box-shadow:none;
  width:100%;
  color: white;
  font-weight: bold;
  font-size: 16pt;
  text-align: center;
  text-transform: uppercase;
}

.voteButton:disabled {
  color: #A8A8A8;
}

.voteButtonDescription {
  color: white;
  text-align: center;
  font-weight: normal;
  font-size: 12pt;
  text-transform: none;
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 14pt;
}

li.menu {
  display: inline;
  margin-right:4px;
}

.boxHeader {
  background: #dcdcdc;
  font-size: 14pt;
  margin-top:16px;
  padding: 8px;
}

.boxContent {
  background: #f3f3f3;
  padding: 16px;
}

table {
  width:100%;
}

td {
  padding: 8px;
  margin: 0;
}

td.header {
  padding: 8px;
  margin: 0;
  border-bottom: 1px solid #dcdcdc;
  font-weight: bold;
}

.footer {
  text-align: center;
  font-size: 8pt
}

.bigQuote {
  font-size:16pt;
  padding:8px;
  border-left-style: solid; 
  border-left-width: 3px;
  border-left-color:black
}

.smallQuote {
  padding:8px;
  border-left-style: solid; 
  border-left-width: 3px;
  border-left-color:black
}

#inputInvalidMessage {
  color: #EA4335;
}
